spring:
  application:
    name: api

  datasource:
    url: jdbc:postgresql://localhost:5432/gestao-chamados
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

jwt:
  secret-key: ${JWT_SECRET}
  expiration: 3600000